<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76388692706-ge9a5cufupqjdsiiqnau0hieq96p2lsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76388692706-ge9a5cufupqjdsiiqnau0hieq96p2lsj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>76388692706-oe63cckp2k6qe635uo77n2ak309safl3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD61-iQaIBbmMGfvP9hBexhmyixz8qxm3k</string>
	<key>GCM_SENDER_ID</key>
	<string>76388692706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.googleSignIn</string>
	<key>PROJECT_ID</key>
	<string>signinapp-2f1e0</string>
	<key>STORAGE_BUCKET</key>
	<string>signinapp-2f1e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76388692706:ios:320208c58bd9c3039064bb</string>
</dict>
</plist>